@model FigureShop.Models.Product

<h2>Xoá sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xoá sản phẩm này?</h3>
<div>
    <b>Tên sản phẩm:</b> @Model.Name
</div>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xoá</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Hủy</a>
</form> 